@charset "UTF-8";
@font-face {
  font-family: Lato-Regular;
  font-weight: 400;
  src: url(/assets/fonts/Lato-Regular.woff) format("woff");
}

@font-face {
  font-family: Lato-Black;
  font-weight: 400;
  src: url(/assets/fonts/Lato-Black.woff) format("woff");
}

@font-face {
  font-family: Lato-Italic;
  font-weight: 400;
  src: url(/assets/fonts/Lato-Italic.woff) format("woff");
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

* {
  line-height: 1.6;
  outline: none;
  font-size: 1.5rem;
}

*::before, *:after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Lato-Regular";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Lato-Bold";
  margin: 1.2em 0;
  line-height: 1.33;
}

h1 {
  font-size: 2.0em;
}

h1:after {
  content: "";
  display: block;
  position: relative;
  top: .33em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.33);
}

h2 {
  font-size: 1.8em;
}

h2:after {
  content: "";
  display: block;
  position: relative;
  top: .33em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.33);
}

h3 {
  font-size: 1.6em;
  margin: 1.2em 0 .5em;
}

h4 {
  font-size: 1.4em;
  margin: 1em 0 .5em;
}

h5 {
  font-size: 1.3em;
  margin: 1em 0 .5em;
}

h6 {
  font-size: 1.2em;
  margin: 1em 0 .5em;
}

pre.prettyprint {
  margin: 0 0 1.1em;
}

pre > code {
  background-color: rgba(0, 0, 0, 0.05);
  display: block;
  padding: 1.5em;
  -webkit-text-size-adjust: none;
  overflow-x: auto;
  white-space: pre;
}

blockquote,
dl,
ol,
p,
pre {
  margin: 1.2em 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1.1em;
  padding-left: 2em;
}

code, pre, samp {
  font-family: Roboto Mono, Lucida Sans Typewriter, Lucida Console, monaco, Courrier, monospace;
  font-size: 1.2rem;
}

b, strong {
  font-family: "Lato-Black";
  font-weight: 900;
}

p {
  font-size: 1.5rem;
}

blockquote {
  border-left: 10px solid rgba(102, 128, 153, 0.075);
  background-color: rgba(102, 128, 153, 0.05);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
}

blockquote p {
  margin: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 35px;
  background: #2C2C2C;
  z-index: 100;
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar__right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  margin-left: auto;
}

.container {
  position: relative;
  top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 35px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 50px;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-display {
  position: absolute;
  top: 35px;
  width: 100%;
  height: calc(100% - 35px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mode-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 112px;
  height: 35px;
}

.mode-buttons input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

#filter-button {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.filter-button,
.mode-button,
.side-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 100%;
  padding: 6px 9px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-button:hover,
.mode-button:hover,
.side-button:hover {
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.8;
}

.filter-button.active,
.mode-button.active,
.side-button.active {
  background: rgba(255, 255, 255, 0.1);
}

.filter-button.active svg path,
.mode-button.active svg path,
.side-button.active svg path {
  fill: #FFF;
}

.filter-button svg,
.mode-button svg,
.side-button svg {
  width: 15px;
  height: 100%;
}

.filter-button div,
.mode-button div,
.side-button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.preview {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 50%;
  height: 100%;
  padding: 50px 30px 30px;
  overflow: scroll;
  background: #FFF;
  color: #2D2D2D;
}

.preview.filter {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.preview::-webkit-scrollbar {
  display: none;
}

.preview.none {
  display: none;
}

.preview *:first-child {
  margin-top: 0;
}

.edit {
  background: #2C2C2C;
  color: #FFF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.edit.none {
  display: none;
}

.edit.none + .preview {
  max-width: 1024px;
  margin: auto;
}

.edit-window {
  width: 100%;
}

.edit-window.edit-only {
  padding-right: 20%;
  padding-left: 20%;
}

.edit-window.filter {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.edit-input {
  width: 100%;
  max-height: 200px;
  min-height: calc(100vh - 35px);
  padding: 50px 30px 30px;
  line-height: 20px;
  font-size: 14px;
  background: #2C2C2C;
  color: #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
  white-space: break-spaces;
  resize: none;
  border: none;
}

.edit-input::-webkit-scrollbar {
  display: none;
}

.edit-input.filter {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background: #2C2C2C;
  padding-top: 40px;
}

.side-bar input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.side-button {
  width: 50px;
  height: 50px;
}

.side-button svg {
  width: 50px;
  height: 50px;
}

.side-bar-content {
  min-width: 170px;
  height: 100%;
  margin: 0;
  padding-bottom: 30px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #E6E6E6;
}

.side-bar-content.none {
  display: none;
}

.note-list {
  width: 170px;
  padding: 0;
}

.note-list__item {
  position: relative;
  width: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.note-list__item:hover {
  background: #CCCCCC;
}

.note-list__item:hover span {
  background: #CCCCCC;
}

.note-list__item.active p {
  background: #2C2C2C;
  color: #FFF;
}

.note-list__item.active:hover p {
  background: #248888;
}

.note-list__item.active:hover span {
  background: #248888;
}

.note-list__item.delete-disabled span {
  display: none;
}

.note-list__item.delete-disabled p:hover + span {
  display: none;
}

.note-list__item p {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  margin: 0;
  padding: 10px;
}

.note-list__item p:hover + span {
  display: block;
  background: COLOR_HOVER_LIST;
}

.note-list__item span {
  display: none;
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  height: 100%;
  z-index: 10;
}

.note-list__item span::before, .note-list__item span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background: #2C2C2C;
  border-radius: 10px;
}

.note-list__item span::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.note-list__item span::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.note-list__item span:hover {
  display: block;
}

.add-note {
  text-align: center;
  width: 30px;
  height: 30px;
  background: #2C2C2C;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
}

.add-note .disabled {
  cursor: default;
  background: #B9B9B9;
}

.add-note:hover {
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */