:root {
  --bg_primary: #181818;
  --bg_secondary: #1f1f1f;
  --bg_blockquote: #434343;
  --bg_active: #434343;
  --bg_delete: #812828;
  --bg_bottom_primary: #434343;
  --border_primary: #2b2b2b;
  --border_blockquote: #252525;
  --icon_primary: #d7d7d7;
  --text_primary: #ffffff;
  --text_link: #4daafc;
}
.theme-light {
  --bg_primary: #181818;
  --bg_secondary: #1f1f1f;
  --bg_blockquote: #434343;
  --bg_active: '#434343';
  --bg_delete: '#812828';
  --bg_bottom_primary: '#434343';
  --border_primary: '#2B2B2B';
  --border_blockquote: '#252525';
  --icon_primary: '#D7D7D7';
  --text_primary: '#FFFFFF';
  --text_link: '#4DAAFC';
}
.theme-blue {
  --bg_primary: #181818;
  --bg_secondary: #1f1f1f;
  --bg_blockquote: #434343;
  --bg_active: '#434343';
  --bg_delete: '#812828';
  --bg_bottom_primary: '#434343';
  --border_primary: '#2B2B2B';
  --border_blockquote: '#252525';
  --icon_primary: '#D7D7D7';
  --text_primary: '#FFFFFF';
  --text_link: '#4DAAFC';
}
